<% content_for :title, "Editando cliente" %>

<h1>Editando cliente</h1>

<%= render "form", cliente: @cliente %>

<br>

<div>
  <%= link_to "Mostrar este cliente", @cliente %> |
  <%= link_to "Voltar para clientes", clientes_path %>
</div>
