<div id="<%= dom_id estoque %>">
  <p>
    <strong>Id produto:</strong>
    <%= estoque.id_produto %>
  </p>

  <p>
    <strong>Quantidade disponivel:</strong>
    <%= estoque.quantidade_disponivel %>
  </p>

  <p>
    <strong>Data reposicao:</strong>
    <%= estoque.data_reposicao %>
  </p>

</div>
