<% content_for :title, "Editando estoque" %>

<h1>Editando estoque</h1>

<%= render "form", estoque: @estoque %>

<br>

<div>
  <%= link_to "Mostrar este estoque", @estoque %> |
  <%= link_to "Voltar para estoques", estoques_path %>
</div>
