<% content_for :title, "New venda produto" %>

<h1>New venda produto</h1>

<%= render "form", venda_produto: @venda_produto %>

<br>

<div>
  <%= link_to "Back to venda produtos", venda_produtos_path %>
</div>
