<div id="<%= dom_id produto %>">
  <p>
    <strong>ID:</strong>
    <%= produto.id %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= produto.nome %>
  </p>

  <p>
    <strong>Preco unitario:</strong>
    <%= produto.preco_unitario %>
  </p>

</div>
