<div id="<%= dom_id venda %>">
  <p>
    <strong>Id cliente:</strong>
    <%= venda.id_cliente %>
  </p>

  <p>
    <strong>Data venda:</strong>
    <%= venda.data_venda %>
  </p>

  <p>
    <strong>Valor total:</strong>
    <%= venda.valor_total %>
  </p>

</div>
